@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #ffffff;
}


/* style pour le header et section */

header{
    padding: 20px 8%;
}

section{
    padding: 70px 8%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.logo-div{
    width: 30%;
}

.logo span{
    color: #F6D238;
}

ul{
    display: flex;
    justify-content: center;
    width: 40%;
    list-style: none;
}

ul li {
    padding: 10px  20px;
}

ul li a{
    text-decoration: none;
    color: #999;
    transition: 0.5s;
    font-size: 14px;
}

ul li a:hover{
    background-color: #F6D238;
    color:#000;
    padding: 15px;
    font-weight: bold;
    border-radius: 20px;
}

.btn-header{
    display: flex;
    width: 30%;
    justify-content: end;
}

.btn{
    color:#000;
    background-color: #F6D238;
    border: 2px solid #F6D238;
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.btn:hover{
    background-color: #f1f1f1;
    transform: rotate(5deg);
}

.btn i{
    margin-right: 5px;;
}

/* style pour la premiere section */

.home-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* style pour le cote gauche de la section d'accueil */

.home-section .left{
    position: relative;
    height: 500px;
    width: 600px;
}

.home-section .left img{
    position: absolute;
    object-fit: cover;
    border: 8px solid #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.home-section .left-image1{
    width: 450px;
    height: 500px;
    transition: 0.5s;
}

.home-section .left-image1:hover{
    transform: scale(1.1) rotate(10deg);
}

.home-section .left-image2{
    width: 350px;
    height: 350px;
    top: 150px;
    left: 250px;
    transition: 0.5s;
}

.home-section .left-image2:hover{
    transform: scale(1.1) rotate(-10deg);
}

/* style pour le cote droit de la section d'accueil */
.right{
    margin-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right .text-right{
    color: #F6D238;
    font-weight: bold;
}

.right h1{
    margin: 20px 0;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
}

.right p{
    margin-bottom: 25px;
    color: #999;
    width: 100%;
    font-size: 14px;
}

.see-video{
    border: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.bouttons{
    display: flex;
    align-items: center;
}

.see-video span{
    margin-left: 25px;
    font-weight: bold;
}

.video-bg{
    margin-left: 20px;
    background: url(images/img3.jpeg);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.play-btn{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    right: -20px;
    transform: translate(-20%, 50%);
}

.play-btn i{
    color: #CF0711;
}