@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #ffffff;
}


/* style pour le header et section */

header{
    padding: 20px 8%;
}

section{
    padding: 70px 8%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.logo-div{
    width: 30%;
}

.logo span{
    color: #F6D238;
}

ul{
    display: flex;
    justify-content: center;
    width: 40%;
    list-style: none;
}

ul li {
    padding: 10px  20px;
}

ul li a{
    text-decoration: none;
    color: #999;
    transition: 0.5s;
    font-size: 14px;
}

ul li a:hover{
    background-color: #F6D238;
    color:#000;
    padding: 15px;
    font-weight: bold;
    border-radius: 20px;
}

.btn-header{
    display: flex;
    width: 30%;
    justify-content: end;
}

.btn{
    color:#000;
    background-color: #F6D238;
    border: 2px solid #F6D238;
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.btn:hover{
    background-color: #f1f1f1;
    transform: rotate(5deg);
}

.btn i{
    margin-right: 5px;;
}

/* style pour la premiere section */

.home-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* style pour le cote gauche de la section d'accueil */

.home-section .left{
    position: relative;
    height: 500px;
    width: 600px;
}

.home-section .left img{
    position: absolute;
    object-fit: cover;
    border: 8px solid #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}

.home-section .left-image1{
    width: 450px;
    height: 500px;
    transition: 0.5s;
}

.home-section .left-image1:hover{
    transform: scale(1.1) rotate(10deg);
}

.home-section .left-image2{
    width: 350px;
    height: 350px;
    top: 150px;
    left: 250px;
    transition: 0.5s;
}

.home-section .left-image2:hover{
    transform: scale(1.1) rotate(-10deg);
}

/* style pour le cote droit de la section d'accueil */
.right{
    margin-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right .text-right{
    color: #F6D238;
    font-weight: bold;
}

.right h1{
    margin: 20px 0;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
}

.right p{
    margin-bottom: 25px;
    color: #999;
    width: 100%;
    font-size: 14px;
}

.see-video{
    border: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.bouttons{
    display: flex;
    align-items: center;
}

.see-video span{
    margin-left: 25px;
    font-weight: bold;
}

.video-bg{
    margin-left: 20px;
    background: url(images/img3.jpeg);
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.play-btn{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    right: -20px;
    transform: translate(-20%, 50%);
}

.play-btn i{
    color: #CF0711;
}

/* style pour la deuxieme section */

.destination .titre{
    font-size:  30px;
}

.desc-boutton{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.desc-boutton .bouttons button{
    background-color: #F6D238;
    border: 0;
    cursor: pointer;
    border: 2px solid #F6D238;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.desc-boutton .bouttons button:hover{
    background-color: #f1f1f1;
    transform: rotate(10deg);
}

.seconde{
    margin-left: 20px;
}

.desc-boutton .bouttons button i{
    font-size: 25px;
}

.destinations .small-desc{
    color: #999;
    width: 50%;
    font-size: 14px;
}

.destinations .galerie .images{
    width: 218px;
    height: 350px;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
}

.destinations .galerie .images img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    transition: 0.5s;
}

.destinations .galerie{
    display: flex;
    justify-content: space-between;  
}
.destinations .galerie  .description{
    transform: translateY(350px);
    background: #fff;
    padding: 20px;
    text-align: center;
    transition: 0.5s;

}

.destinations .galerie  .images .description h1{
    font-size: 20px;
    margin-bottom: 10px;
}

.destinations .galerie .images .description p{
    font-size: 14px;
    color: #999;
}

.destinations .galerie .images:hover .description{
    transform: translateY(-120px);
}

.destinations .galerie .images:hover img{
    transform: translateY(-120px);
} 

/* style pour la troisieme section  */

.best{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-list{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.box-list .box{
    width: 32.33%;
    height: 400px;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.box-list .box img{
    height : 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.box-list .box:hover img{
    transform: scale(2) rotate(10deg);
}

.box-list .box .description{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    transition: 0.5s;
}

.box-list .box .description h2{
    font-size: 16px;
    font-weight: 500;
}
.rating{
    color: #dca930;
    margin-top: 5px;
    font-weight: bold;
}

.box-list .box .description .button-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-list .box .description .button-description span{
    font-size: 15px;
}

.box-list .box .description .button-description button{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #F6D238;
    color:#F6D238;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.box-list .box .description .button-description button:hover{
    background-color: #F6D238;
    color:#000;
}

.best .titre{
    text-align:  center;
    font-size: 30px;
}

.best .small-desc{
    text-align: center;
    margin: 30px auto;
    color: #999;
    font-size: 14px;
}

.view-all{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* style pour la quatrieme section */

.email h1{
    margin-bottom: 20px;
}

.email p{
    font-size: 14px;
    color: #999;
}

.together{
    display: flex;
    justify-content: space-between;
}

.email .together .text{
    width: 500px;
}

.input{
    border: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
     display: flex;
     border-radius: 20px;
     overflow: hidden;
}

.input input{
    border: 0;
    padding: 12px;
    padding-left: 20px;
    width: 400px;
    outline: none;
}

